/* Media Queries */

@Media only screen and (max-width: 900px) {
    .nav-li a {
        font-size: 1.5rem;
        margin: 0 30px;
    }

    .container-about img {
        display: block;
        margin: 100px auto;
        width: 200px;
    }

    .about-text p {
        font-size: 1.1rem;
    }

    .tech-stack ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .tech-stack .fab {
        font-size: 5rem;
    }

    .work {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }

    .work h5 {
        font-size: 1.1rem;
    }
}

@Media only screen and (max-width: 600px) {
    .nav-li a {
        font-size: 1.5rem;
        margin: 0 15px;
    }


    .name {
        font-size: 2.2rem;
        margin-bottom: 20px;
    }

    .title {
        font-size: 2rem;
    }


    .social-icons {
        position: fixed;
    }

    .social-icons li {
        margin: 0 10px;
        font-size: 3rem;
    }

    .about-text p {
        font-size: 1.2rem;
        line-height: 1.7rem;
        letter-spacing: 0.05rem;
    }

    .sub-title {
        margin: 50px 0;
        font-size: 2.5rem;
    }

    .tech-stack ul {
        display: flex;
        justify-content: center;
    }

    .tech-stack .fab {
        font-size: 4rem;
    }
}


@Media only screen and (max-width: 400px) {
    
    .name-section {
        margin-top: 20px;
    }

    .logo-img img {
        width: 150px;
    }

    .sub-title {
        font-size: 1.5rem;
    }

    .nav-li a {
        font-size: 0.8rem;
        margin: 10px 20px;
    }

    .name {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .title {
        font-size: 1.2rem;
    }

    .social-icons {
        position: fixed;
    }

    .social-icons li {
        margin: 0;
        font-size: 2.2rem;
    }

    .container-about img {
        width: 100px;
        margin-top: 80px;
    }

    .about-text p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .work {
        margin-bottom: 20px;
        height: 180px;
    }

    .work h5 {
        font-size: 0.6rem;
    }

    .project-icons {
        font-size: 1.1rem;
    }

    .tech-stack .fab {
        font-size: 3rem;
    }

}