/* Media Queries */

@Media only screen and (max-width: 900px) and (min-width: 1240px) {
    .social-icons {
        width: 40%;
        margin-top: 50px;
    }
    
    .social-icons-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        font-size: 2.5rem;
    }
    
    .nav-li a {
        font-size: 1.5rem;
        margin: 0 30px;
    }

    .container-work {
        width: 100%;
        margin-top: 50px;
    }

    .container-about {
        margin: 0 15%;
    }

    .container-about img {
        display: block;
        margin: 100px auto;
        width: 300px;
    }

    .about-text p {
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .about-text p a {
        font-size: 2rem;
    }

    .work {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }

    .work h5 {
        font-size: 1.3rem;
    }
}

@Media only screen and (max-width: 900px) {

    .container {
        border: 10px solid;
        border-top-color: var(--secondary-color);
        border-left-color: var(--secondary-color);
        border-bottom-color: var(--main-color);
        border-right-color: var(--main-color);
    }
    
    .nav-li a {
        font-size: 1.5rem;
        margin: 15px 15px;
    }


    .name {
        font-size: 2.2rem;
        margin-bottom: 40px;
    }

    .title {
        font-size: 2rem;
    }

    .sub-title-name {
        font-size: 2.1rem;
    }


    .social-icons {
        width: 200px;
    }

    .container-about {
        width: 100vw;
        margin: 0;
    }

    .container-work {
        width: 100%;
    }

    .work {
        height: 60%;
        width: 60%;
        margin-bottom: 30px;
    }

    .about-text p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 2px;
    }

    .about-par {
        padding: 10px;
    }

    .about-par a {
        font-size: 1.5rem;
    }

    .sub-title {
        /* margin: 80px 0; */
        font-size: 2.5rem;
    }

    .about-info {
        flex-direction: column-reverse;
    }

    .about-info p {
        letter-spacing: 2px;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .illustration-img {
        width: 300px;
    }
}

@Media only screen and (max-width: 500px) {

    .name-section {
        overflow: hidden;
        height: 100vh;
    }

    .logo-img img {
        width: 250px;
    }

    .sub-title {
        margin: 3em;
        font-size: 2rem;
    }

    .sub-title-name {
        font-size: 2rem;
    }

    .nav {
        display: none;
    }

    .name {
        text-align: center;
        font-size: 3.2rem;
        overflow-wrap: break-word;
    }

    .title {
        text-align: center;
        font-size: 2rem;
        overflow-wrap: break-word;s
    }

    .social-icons {
        width: 150px;
    }

    .social-icons-ul {
        font-size: 1.7rem;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .container-about {
        width: 100%;
    }

    .container-about img {
        width: 150px;
    }

    .about-par {
        width: 100%;
    }

    .about-text p {
        letter-spacing: 2px;
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .about-par a {
        font-size: 1.25rem;
    }

    .container-work {
        width: 100%;
    }

    .work {
        height: 60%;
        width: 90%;
        margin-bottom: 30px;
        background: #fff;
    }

    .work-section {
        margin: 0;
    }

    .work h5 {
        font-size: 1.4rem;
    }

    .github-btn {
        margin-bottom: 5px;
        width: 200px;
        margin-right: 0;
    }
    .live-btn {
        width: 200px;
        margin-left: 0;
    }

    .container-contact {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
    }

    .about-info {
        flex-direction: column-reverse;
    }

    .about-info p {
        letter-spacing: 2px;
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 0;
        padding-bottom: 40px;
    }

    .resume-link {
        margin-top: 20px;
    }

    .container-technologies {
        margin-top: 50px;
    }

    .technologies-list ul li img {
        height: 90px;
        width: 90px;
        margin: 10px;
    }

    .fields {
        width: 90%;
    }

    .field {
        margin-bottom: 10px;
    }

    .form-info {
        width: 100%;
        height: 40px;
        padding-top: 10px;
        font-size: 1.25rem;
        margin: 0;
    }

    .form-message {
        width: 100%;
        height: 200px;
        font-size: 1.25rem;
        padding: 5px;
        margin: 0;
    }
    
    /* Burger button */

    .burger {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        position: sticky;
        top: 20px;
        left: 100%;
        margin-right: 20px;
        z-index: 200;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger-btn,
    .burger-btn::before,
    .burger-btn::after {
        position: absolute;
        content: "";
        width: 40px;
        height: 3px;
        background-color: var(--text-color);
        transition: transform 300ms;
    }

    .burger-btn::before {
        transform: translateY(10px);
    }

    .burger-btn::after {
        transform: translateY(-10px);
    }

    .burger-open .burger-btn { background: transparent; }

    .burger-open .burger-btn::before {
        transform: rotate(45deg) translateY(0);
    }

    .burger-open .burger-btn::after {
        transform: rotate(-45deg) translateY(0);
    }

    /* Burger navigation */

    .burger-nav {
        display: block;
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 100;
        padding: 25px;
        background: rgba(0, 0, 0, 0.9);
        transform: translateX(-250px);
        transition: transform 200ms cubic-bezier(.23,.53,.19,.84);
        border: 2px solid;
        border-top-color: var(--secondary-color);
        border-left-color: var(--secondary-color);
        border-bottom-color: var(--main-color);
        border-right-color: var(--main-color);
    }

    .burger-nav-show {
        transform: translateX(0);
    }

    .burger-nav-ul-list {
        position: sticky;
        top: 20px;
        list-style: none;
    }

    .burger-nav-li,
    .burger-nav-li a {
        margin-bottom: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #eee;
        font-size: 1.8rem;
    }
}