/* Media Queries */

@Media only screen and (max-width: 900px) and (min-width: 1240px) {
    .social-icons {
        width: 40%;
        margin-top: 50px;
    }
    
    .social-icons-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        font-size: 2.5rem;
    }
    
    .nav-li a {
        font-size: 1.5rem;
        margin: 0 30px;
    }

    .container-work {
        width: 90%;
        margin-top: 50px;
    }

    .container-about {
        margin: 0 15%;
    }

    .container-about img {
        display: block;
        margin: 100px auto;
        width: 200px;
    }

    .about-text p {
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .about-text p a {
        font-size: 2rem;
    }

    .work {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }

    .work h5 {
        font-size: 1.3rem;
    }
}

@Media only screen and (max-width: 600px) {
    .nav-li a {
        font-size: 1.5rem;
        margin: 15px 15px;
    }


    .name {
        font-size: 2.2rem;
        margin-bottom: 40px;
    }

    .title {
        font-size: 2rem;
    }


    .social-icons {
        width: 200px;
    }

    .container-about {
        margin: 0 10%;
    }

    .about-text p {
        font-size: 1.1rem;
        line-height: 2.5rem;
        letter-spacing: 2px;
    }

    .sub-title {
        margin: 80px 0;
        font-size: 2.5rem;
    }
}


@Media only screen and (max-width: 500px) {
    
    .name-section {
        margin-top: 20px;
    }

    .logo-img img {
        width: 100px;
        margin-top: 50px;
    }

    .sub-title {
        font-size: 1.5rem;
    }

    .nav {
        padding-top: 20px;
    }

    .nav-li a {
        font-size: 1rem;
        margin: 20px;
    }

    .name {
        font-size: 1.7rem;
        margin-top: 50px;
    }

    .title {
        font-size: 1.5rem;
    }

    .social-icons {
        width: 150px;
        margin: 60px;
    }

    .social-icons-ul {
        font-size: 1.7rem;
        margin-bottom: 40px;
    }

    .container-about {
        margin: 0 5%;
    }

    .container-about img {
        width: 130px;
        margin-top: 60px;
    }

    .about-text p {
        letter-spacing: 2px;
        font-size: 1rem;
        line-height: 2rem;
    }

    .work {
        height: 60%;
        margin-bottom: 30px;
    }

    .work h5 {
        font-size: 1.4rem;
    }

    .github-btn {
        margin-bottom: 5px;
        width: 200px;
        margin-right: 0;
    }
    .live-btn {
        width: 200px;
        margin-left: 0;
    }

}