/* Main Colors */
:root {
    --main-color: #3157A7;
    --secondary-color: #F69179;
    --text-color: #231f20;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif, monospace;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}
/* All h4 sub-titles */
.sub-title {
    text-align: center;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
    color: var(--main-color);
}

/*
* Main container
*/

.container {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100%;
}


/*
* Navigation
*/

.nav {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

.nav-ul-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.nav-li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    transition: 0.1s;
}

.nav-li a:hover {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
}


/*
* Social icons
*/

.social-icons {
    width: 350px;
    border-bottom: 2px solid var(--text-color);
}

.social-icons-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 2.5rem;
    margin: 80px 0 30px 0;
    
}

.social-icons-li a {
    color: var(--text-color);
    text-decoration: none;
}

.social-icons-li a:hover {
    color: var(--secondary-color);
}

/*
* Section (Logo)
*/

.logo-img img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

/*
* Section (Name)
*/

.name-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 150px;
}

.name {
    letter-spacing: 4px;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--text-color);
}

.title {
    font-size: 3rem;
    font-weight: 200;
    color: var(--text-color);
}


/*
* Section (About)
*/

.container-about {
    height: 100%;
    margin: 5% 25% 0 25%;
}

.about-text {
    color: var(--text-color);
    display: block;
    margin: 30px auto 50px auto; 
    letter-spacing: 3px;
}

.about-text p a {
    text-decoration: none;
    font-size: 22px;
    color: var(--main-color);
}

.about-text p a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.profile-img {
    width: 180px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    padding: 3px;
    display: block;
    margin: 40px auto;
}

.container-about p {
    font-size: 1.1rem;
    line-height: 2.5rem;
}

/*
* Section (Work)
*/
.work-section {
    margin-top: 5%;
}

.container-work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}

.work {
    width: 300px;
    height: 250px;
    margin: 10px 10px 20px 10px;
    
}

.work img {
  width: 100%;
  height: 70%;
}

.work h5 {
   background-color: transparent;
   color: var(--text-color);
   font-size: 1.25rem;
   text-align: center;
   margin-bottom: 15px;
}

.project-icons {
   text-align: center;
   margin-top: 10px;
}

.github-btn {
    position: relative;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 50px;
    box-shadow: 0 5px #eee;
    text-transform: uppercase;
    color: #fff;
}

.github-btn:hover {
    top: 1px;
    box-shadow: 0 3px #eee;
    background-color: rgba(246, 145, 121, 0.7);
    
}

.live-btn {
    position: relative;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    border: none;
    background-color: var(--main-color);
    border-radius: 50px;
    box-shadow: 0 5px #eee;
    text-transform: uppercase;
    color: #fff;
}

.live-btn:hover {
    top: 1px;
    box-shadow: 0 3px #eee;
    background-color: rgba(49, 87, 167, 0.7);
}







