/* Main Colors */
:root {
    --main-color: #3157A7;
    --secondary-color: #f69179;
    --text-color: #111;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif, monospace;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background-color: #fff;
}
/* All h4 sub-titles */
.sub-title {
    text-align: center;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
    color: var(--main-color);
}

.sub-title-name {
    font-size: 2.2rem;
    margin-left: 5px;
    background-color: rgba(49, 87, 167, 0.3);
    padding: 5px;
    color: #fff;
}

/*
* Main container
*/

.container {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100%;
}


/*
* Navigation
*/

.nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid #111;
}

.nav-ul-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.nav-li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-color);
    transition: 0.2s;
    margin: 20px;
}

.nav-li a:hover {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
    color: var(--secondary-color);
}


/*
* Social icons
*/

.social-icons {
    width: 350px;
    border-bottom: 2px solid var(--main-color);
}

.social-icons-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 2.5rem;
    margin: 80px 0 30px 0;
    
}

.social-icons-li a {
    color: var(--text-color);
    text-decoration: none;
}

.social-icons-li a:hover {
    color: var(--secondary-color);
}

/*
* Section (Logo)
*/

.logo-img img {
    display: block;
    width: 200px;
    margin: 0 auto;
    animation-name: logo-animation;
    animation-duration: 2s;
}

@keyframes logo-animation {
    0% {
        opacity: 0;
        transform: scale(0);
        transform: translateY(-300px);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
        transform: translateY(0);
    }
}

/*
* Section (Name)
*/

.name-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.name {
    background-color: rgba(49, 87, 167, 0.3);
    padding: 7px;
    letter-spacing: 4px;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--text-color);
    animation-name: name-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes name-animation {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0)
    }
}

.title {
    background-color: rgba(246, 145, 121, 0.3);
    padding: 5px;
    font-size: 3rem;
    font-weight: 200;
    color: var(--text-color);
    animation-name: title-animation;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes title-animation {
    0% {
        transform: translateX(500px);
        opacitu: 0;
    }
    100% {
        transform: translateX(0);
    }
}

/*
* Section (About)
*/

.container-about {
    height: 100%;
    margin: 5% 25% 0 25%;
}

.about-text {
    background-color: rgba(246, 145, 121, 0.3);
    color: var(--text-color);
    display: block;
    margin: 30px auto 50px auto;
    padding: 5px; 
    letter-spacing: 3px;
}

.about-text p a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--main-color);
    transition: 0.1s;
}

.about-text p a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
}

.profile-img {
    width: 180px;
    border-radius: 50%;
    border: 3px solid;
    border-top-color: var(--secondary-color);
    border-left-color: var(--secondary-color);
    border-bottom-color: var(--main-color);
    border-right-color: var(--main-color);
    padding: 3px;
    display: block;
    margin: 40px auto;
    background-color: #fff;
}

.container-about p {
    font-size: 1.4rem;
    line-height: 2.5rem;
}

/*
* Section (Work)
*/
.work-section {
    margin-top: 5%;
    
}

.container-work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}

.work {
    width: 250px;
    height: 250px;
    margin: 10px 10px 20px 10px;
    
}

.work img {
  width: 100%;
  height: 60%;
}

.work h5 {
   background-color: transparent;
   color: var(--text-color);
   font-size: 1.25rem;
   font-weight: 700;
   text-align: center;
   margin-bottom: 15px;
}

.project-icons {
   text-align: center;
   margin-top: 10px;
}

.github-btn {
    position: relative;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
}

.github-btn:hover {
    top: 1px;
    background-color: rgba(246, 145, 121, 0.7);
    
}

.live-btn {
    position: relative;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    border: none;
    background-color: var(--main-color);
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
}

.live-btn:hover {
    top: 1px;
    background-color: rgba(49, 87, 167, 0.7);
}







