/* Main Colors */
:root {
    --main-color: #2196F3;
    --secondary-color: #F57F17;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Quicksand', sans-serif, monospace; */
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}


/* All h4 sub-titles */
.sub-title {
    text-align: center;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5%;
    color: var(--secondary-color);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

.sub-title-name {
    font-size: 3rem;
    margin-left: 5px;
    padding: 5px;
    color: var(--main-color);
}

/*
* Main container
*/

.container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100%;
    background-image: linear-gradient(to right bottom, #fafafa, #E0F7FA);
}


/*
* Navigation
*/

.nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    border-bottom: 1px solid #111;
}

.nav-ul-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.nav-li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-color);
    transition: 0.2s;
    margin: 20px;
    position: relative;
}

.nav-li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 200ms ease-in;
}

.nav-li a:hover::after {
    width: 100%;
}


/*
* Social icons
*/

.social-icons {
    width: 350px;
    border-bottom: 2px solid var(--secondary-color);
}

.social-icons-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 2.5rem;
    margin: 80px 0 30px 0;
    
}

.social-icons-li a {
    color: var(--text-color);
    text-decoration: none;
}

.social-icons-li a:hover {
    color: var(--main-color);
}

/*
* Section (Logo)
*/

.logo-img img {
    display: block;
    width: 400px;
    margin: 0 auto;
    opacity: 0;
    animation: logo-animation 0.6s 1s forwards;
}

@-webkit-keyframes logo-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    50% {
        -webkit-transform: scale(2);
                transform: scale(2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes logo-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    50% {
        -webkit-transform: scale(2);
                transform: scale(2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

/*
* Section (Name)
*/

.name-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    padding: 7px;
    letter-spacing: 4px;
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 30px;
    color: var(--main-color);
    animation: name-animation 0.6s ease-in-out;
}

@-webkit-keyframes name-animation {
    0% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
}
@keyframes name-animation {
    0% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
}

.title {
    font-size: 4rem;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--secondary-color);
    opacity: 0;
    animation: title-animation 0.6s 0.5s forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@-webkit-keyframes title-animation {
    0% {
        -webkit-transform: translateX(500px);
                transform: translateX(500px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes title-animation {
    0% {
        -webkit-transform: translateX(500px);
                transform: translateX(500px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

/*
* Section (About)
*/

.container-about {
    height: 100%;
    margin: 5% 25% 0 25%;
}

.about-text {
    color: var(--text-color);
    display: block;
    margin: 30px auto 0 auto;
    letter-spacing: 3px;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 10px;
}

.links {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-color);
    transition: 0.1s;
    position: relative;
}

.links::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: all 200ms ease-in;
}

.links:hover::after {
    color: var(--text-color);
    background-color: rgba(245, 127, 23, .5);
    height: 40%;
}

.profile-img {
    width: 180px;
    border-radius: 50%;
    border: 3px solid;
    border-top-color: var(--secondary-color);
    border-left-color: var(--secondary-color);
    border-bottom-color: var(--main-color);
    border-right-color: var(--main-color);
    padding: 3px;
    display: block;
    margin: 40px auto;
    background-color: #eee;
}

.about-info {
    width: 100%;
    margin-top: 30px;
}

.about-info p {
    color: var(--text-color);
    display: block;
    margin: 30px auto 30px auto;
    /* padding: 5px;  */
    letter-spacing: 3px;
    font-size: 2rem;
    line-height: 3rem;
}

.about-par {
    text-align: center;
}

.illustration-img {
    display: inline-block;
    max-width: 200px;
    margin: 10px;
    border-radius: 50%;
}

/*
* Section (Work)
*/
.work-section {
    margin-top: 5%;
    
}

.container-work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}

.work {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 10px;
    width: 250px;
    height: 250px;
    margin: 15px 15px 20px 15px;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.work img {
  width: 100%;
  height: 50%;
}

.work h5 {
   background-color: transparent;
   color: var(--text-color);
   font-size: 1.25rem;
   font-weight: 700;
   text-align: center;
   margin-bottom: 15px;
}

.project-icons {
   text-align: center;
   margin-top: 10px;
}

.github-btn {
    position: relative;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
}

.github-btn:hover {
    background: var(--text-color);
    top: 1px;
}

.live-btn {
    position: relative;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    border: none;
    background-color: var(--main-color);
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
}

.live-btn:hover {
    top: 1px;
    background: var(--text-color);
}

/* Section contact */

.container-contact {
    width: 60%;
    height: 100%;
    margin: 100px auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-info {
    width: 500px;
    height: 50px;
    margin: 10px;
    padding-top: 20px;
    padding-left: 5px;
    font-size: 1.25rem;
    border: none;
}

.form-message {
    width: 500px;
    margin: 10px;
    height: 180px;
    font-size: 1.25rem;
    padding: 5px;
    border: none;
}

.contact-btn {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    border: none;
    background-color: var(--main-color);
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}

.contact-btn:hover {
    top: 1px;
    background: var(--text-color);
}