/* Main Colors */
:root {
    --main-color: hsl(350, 80%, 60%);
    --secondary-color: hsl(10, 80%, 60%);
    --text-color: hsl(231, 82%, 6%);
    --shadow: hsla(0, 0%, 0%, 0.07);
}

[data-theme="light"] {
    --bg-color: hsl(0, 0%, 100%);
    --text-color: var(--text-color);
}

[data-theme="dark"] {
    --bg-color: hsl(0, 3%, 15%);
    --text-color: hsl(0, 0%, 100%);
    --shadow: hsla(0, 0%, 90%, .1);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', 'Titillium Web', serif;
    box-sizing: border-box;
    /* outline: .10rem solid hsl(0, 0%, 0%, .3); */
}

html, body {
    height: 100vh;
    background-color: var(--bg-color);
}


/* All h4 sub-titles */
.sub-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5%;
    color: var(--secondary-color);
    text-shadow: 5px 10px 0 var(--shadow);
}

.sub-title-name {
    font-size: 3rem;
    margin-left: 5px;
    padding: 5px;
    color: var(--main-color);
}

/*
* Main container
*/

.container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    min-height: auto;
}


/*
* Navigation
*/

.nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    border-bottom: 5px dashed var(--secondary-color);
}

.nav-ul-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.nav-li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-color);
    transition: 0.2s;
    margin: 20px;
    position: relative;
}

.nav-li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: width 200ms ease-in;
}

.nav-li a:hover::after,
.nav-li a:focus::after {
    width: 100%;
}

.nav-letter {
    font-size: 2.2rem;
    color: var(--main-color);
}

/*
* Social icons
*/

.social-icons {
    width: 350px;
    border-bottom: 2px solid var(--secondary-color);
}

.social-icons-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 2.5rem;
    margin: 80px 0 30px 0;
    
}

.social-icons-li a {
    color: var(--text-color);
    text-decoration: none;
}

.social-icons-li a:hover {
    color: var(--main-color);
}

/*
* Section (Logo)
*/

.logo-img img {
    display: block;
    width: 400px;
    margin: 0 auto;
    opacity: 0;
    animation: logo-animation 0.6s 500ms forwards;
}

@-webkit-keyframes logo-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    50% {
        -webkit-transform: scale(2);
                transform: scale(2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes logo-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    50% {
        -webkit-transform: scale(2);
                transform: scale(2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

/*
* Section (Name)
*/

.name-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    padding: 7px;
    letter-spacing: 4px;
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 30px;
    color: var(--main-color);
    text-shadow: 5px 10px 0 var(--shadow);
    animation: name-animation 0.6s ease-in-out;
}

@-webkit-keyframes name-animation {
    0% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
}
@keyframes name-animation {
    0% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
}

.title {
    font-size: 4rem;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--secondary-color);
    opacity: 0;
    text-shadow: 5px 10px 0 var(--shadow);
    animation: title-animation 0.6s 0.5s forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@-webkit-keyframes title-animation {
    0% {
        -webkit-transform: translateX(500px);
                transform: translateX(500px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes title-animation {
    0% {
        -webkit-transform: translateX(500px);
                transform: translateX(500px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

/*
* Section (About)
*/

.about-section {
    height: 100%;
}

.container-about {
    height: auto;
    margin: 5% 25% 0 25%;
    animation: fadeInDown 300ms;
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

.about-text {
    color: var(--text-color);
    display: block;
    margin: 30px auto 0 auto;
    letter-spacing: 3px;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 10px;
}

.links {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-color);
    transition: 0.1s;
    position: relative;
}

.links::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: all 200ms ease-in;
}

.links:hover::after {
    color: var(--text-color);
    background-color: var(--secondary-color);
    opacity: .5;
    height: 40%;
}

.profile-img {
    width: 180px;
    border-radius: 10px;
    border: 5px solid;
    background-color: var(--bg-color);
    border-top-color: var(--secondary-color);
    border-left-color: var(--secondary-color);
    border-bottom-color: var(--main-color);
    border-right-color: var(--main-color);
    padding: 3px;
    display: block;
    margin: 40px auto;
}

.about-info {
    width: 100%;
    margin-top: 30px;
}

.about-info p {
    color: var(--text-color);
    display: block;
    margin: 30px auto 30px auto;
    letter-spacing: 3px;
    font-size: 2rem;
    line-height: 3rem;
}

.about-par {
    font-family: 'Titillium Web';
    text-align: center;
}

.resume-link {
    font-family: 'Titillium Web';
    text-transform: uppercase;
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    border: 1px solid var(--main-color);
    padding: 0 20px;
    border-radius: 10px;
    transition: 200ms;
}

.resume-link:hover,
.resume-link:active {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.fa-file-pdf {
    font-size: 1.5rem;
    margin-right: 10px;
}

.container-technologies {
    margin-top: 200px;
    height: 30%;
}

.technologies-list ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    justify-content: center;
    gap: 40px;
    margin: 100px 0;
}

.technologies-list ul li img {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/*
* Section (Work)
*/
.work-section {
    margin-top: 5%;
    
}

.container-work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}

.work {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 250px;
    height: auto;
    margin: 15px 15px 20px 15px;
    border-radius: 5px;
    background: hsl(0, 0%, 100%);
    box-shadow: 2px 3px 8px 3px hsla(0, 0%, 0%, 0.25);
    animation: pulse 400ms;
}

@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }

.work img {
  width: 100%;
  height: auto;
}

.work-description {
    padding: 10px;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

.work-description p {
    font-family: 'Titillium Web';
    text-align: center;
    color: hsl(0, 0%, 50%);
}

.work h5 {
   font-size: 1.25rem;
   font-weight: 700;
   text-align: center;
   margin: 15px 0;
}

.project-icons {
   text-align: center;
   margin: 10px 0;
}

.github-btn {
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
    border: none;
    background-color: var(--main-color);
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
}

.github-btn:hover {
    background: var(--secondary-color);
}

.live-btn {
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
    border: none;
    background-color: var(--main-color);
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
}

.live-btn:hover {
    background: var(--secondary-color);
}

/* Section contact */

.container-contact {
    width: 60%;
    margin: 100px auto;
    padding: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-info {
    font-size: 1.25rem;
    font-family: inherit;
    width: 500px;
    height: 50px;
    margin: 10px;
    padding-top: 20px;
    padding-left: 5px;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 3px solid transparent;
    outline: none;
    background-color: hsl(0, 0%, 95%);
    font-family: sans-serif;
}

.form-message {
    width: 500px;
    margin: 10px;
    height: 180px;
    font-size: 1.25rem;
    padding: 5px;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 3px solid transparent;
    outline: none;
    background-color: hsl(0, 0%, 95%);
    font-family: sans-serif;
}

.form-info:focus,
.form-message:focus {
    border-bottom: 3px solid var(--main-color);
}

.form-info:focus::placeholder,
.form-message:focus::placeholder {
    font-size: .9rem;
    color: var(--main-color);
}

.contact-btn {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
    border: none;
    background-color: var(--main-color);
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
}

.contact-btn:hover {
    background: var(--secondary-color);
}


.burger-nav {
    display: none;
}

/* Dark mode button */

.mode-btn {
    position: absolute;
    right: 45px;
    top: 100px;
}

.fa-sun {
    color: var(--secondary-color);
}

.fas {
    font-size: 1.3rem;
    align-self: center;
    cursor: pointer;
}