/* Main Colors */
:root {
    --main-color: #ff672b;
    --secondary-color: #2bdcff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}
/* All h4 sub-titles */
.sub-title {
    text-align: center;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
    color: var(--main-color);
}

/*
* Main container
*/

.container {
    background-image: url("../img/hero.png");
    background-size: fixed;
    background-position: top;
    background-repeat: no-repeat;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100%;
}


/*
* Navigation
*/

.nav {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

.nav-ul-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.nav-li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    transition: 0.1s;
}

.nav-li a:hover {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
}


/*
* Social icons
*/

.social-icons {
    width: 350px;
    border-bottom: 2px solid #3e3e3e;
}

.social-icons-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 2.5rem;
    margin: 80px 0 30px 0;
    
}

.social-icons-li a {
    color: #000;
    text-decoration: none;
}

.social-icons-li a:hover {
    color: var(--secondary-color);
}

/*
* Section (Logo)
*/

.logo-img img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

/*
* Section (Name)
*/

.name-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 150px;
}

.name {
    font-size: 3.5rem;
    font-weight: 200;
    margin-bottom: 30px;
}

.title {
    font-size: 3rem;
    font-weight: 200;
}


/*
* Section (About)
*/

.container-about {
    height: 100%;
    margin: 5% 25% 0 25%;
}

.about-text {
    display: block;
    margin: 30px auto 50px auto; 
}

.about-text p a {
    color: var(--secondary-color);
    text-decoration: none;
}

.about-text p a:hover {
    color: var(--main-color);
}

.profile-img {
    width: 180px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    padding: 3px;
    display: block;
    margin: 0 auto;
}

.container-about p {
    font-size: 1.25rem;
    line-height: 2.5rem;
}

.pdf-img {
    width: 100px;
    display: block;
    margin: 20px auto;
}

/*
* Section (Work)
*/
.work-section {
    margin-top: 5%;
}

.container-work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}

.work {
    width: 300px;
    height: 250px;
    margin: 10px 10px 20px 10px;
    
}

.work img {
  width: 100%;
  height: 70%;
}

.work h5 {
   background-color: transparent;
   color: #000;
   font-size: 1.25rem;
   text-align: center;
   margin-bottom: 15px;
}

.project-icons {
   background-color: transparent;
   text-align: center;
}

.project-icons a {
    color: #000;
    font-size: 2rem;
    margin-left: 10px;
}

.project-icons a:hover {
    color: var(--secondary-color);
}





