* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}
/* All h4 sub-titles */
.sub-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
    color: #00C853;
}

/*
* Main container
*/

.container {
    /* background-image: url("../img/color.png"); */
    background-image: url("../img/color1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100%;
    background-color: #F6F7F8;
}


/*
* Navigation
*/

.nav {
    max-width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

.nav-ul-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.nav-li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    transition: 0.1s;
}

.nav-li a:hover {
    border-bottom: 2px solid #00C853;
    padding-bottom: 5px;
    color: #FFC107;
}

/*
* Social icons
*/

.social-icons {
    position: absolute;
    bottom: 45%;
}

.social-icons-ul {
    list-style: none;
    font-size: 3rem;
    padding-left: 2px;
}

.social-icons-li a {
    color: #000;
    text-decoration: none;
}

/*
* Section (Logo)
*/

.logo-img img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

/*
* Section (Name)
*/

.name-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 150px;
}

.name {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.name span {
    font-size: 3rem;
    color: #00C853;
    font-weight: 700;
}

.title {
    font-size: 3rem;
    font-weight: 200;
}

.title span {
    font-size: 3rem;
    color: #FFC107;
    font-weight: 700;
}

/*
* Section (About)
*/

.container-about {
    height: 100%;
    margin: 5% 25% 0 25%;
}

.about-text {
    display: block;
    margin: 30px auto 0 auto; 
}

.about-text p a {
    color: #FFC107;
    text-decoration: none;
}

.about-text p a:hover {
    color: #00C853;
}

.container-about img {
    width: 180px;
    border: 3px solid #00C853;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.container-about p {
    font-size: 1.25rem;
    line-height: 2rem;
}

.tech-stack {
    display: block;
    margin: 15% auto 0 auto;
}

.tech-stack ul {
    display: flex;
    flex-direction: row;
}

.tech-stack li {
    list-style: none;
    font-size: 3rem;
    margin: 5%;
}

/*
* Section (Work)
*/
.work-section {
    margin-top: 5%;
}

.container-work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}

.work {
    width: 300px;
    height: 250px;
    margin: 10px;
    
}

.work img {
  width: 100%;
  height: 69%;
}

.work h5 {
   background-color: #FFC107;
   color: #fff;
   font-size: 1.25rem;
   text-align: center;
   padding: 5px;
}

.project-icons {
   background-color: #FFC107;
   text-align: center;
}

.project-icons a {
    color: #fff;
    font-size: 2rem;
    margin-left: 10px;
}

.project-icons a:hover {
    color: #bbb;
}





